
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <Card Background="Background.Success">
                <Tooltip Text="Total number of trainings">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>Total Trainings <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
        <div class="col-md-3">
            <Card Background="Background.Danger">
                <Tooltip Text="Pending trainings">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>Pending Trainings <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
        <div class="col-md-3">
            <Card Background="Background.Secondary">
                <Tooltip Text="On-going trainings">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>Ongoing Trainings <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
        <div class="col-md-3">
            <Card Background="Background.Info">
                <Tooltip Text="Pass rate">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>Average Pass Rate <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <Card Background="Background.Transparent">
                <Tooltip Text="Fail rate">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>Average Fail Rate <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>

        <!--
        <div class="col-md-3">
            <Card Background="Background.Success">
                <Tooltip Text="LPO Generated">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>LPO Generated <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
        <div class="col-md-3">
            <Card Background="Background.Info">
                <Tooltip Text="Total Budget">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>Total Budget <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
        <div class="col-md-3">
            <Card Background="Background.Transparent">
                <Tooltip Text="Budget Expended">
                <CardBody>
                    <CardText>
                        <div class="d-flex align-items-center justify-content-center"><p><em><h6>Budget Expended <Strong>4</Strong></h6></em></p></div>
                    </CardText>
                </CardBody>
                </Tooltip>
            </Card>
        </div>
        -->
    </div>
</div>
<Divider Background="Background.Success" />

<div class="container">
    <Table Striped="true" Bordered="true" Hoverable="true">
        <TableHeader>
            <TableHeaderCell>Training Name</TableHeaderCell>
            <TableHeaderCell>From</TableHeaderCell>
            <TableHeaderCell>To</TableHeaderCell>
            <TableHeaderCell>Type</TableHeaderCell>
            <TableHeaderCell>Status</TableHeaderCell>
        </TableHeader>
        <TableRow>
            
        </TableRow>
    </Table>
</div>