@page "/admin/training/questionpool"

<div class="container border">
    <Row>
        <Column ColumnSize=ColumnSize.Is6>
            <Alert Color="Color.Primary" Visible="true">
                <MCANSUpload />
            </Alert>
        </Column>

        <Column ColumnSize=ColumnSize.Is6>
            <Alert Color="Color.Secondary" Visible="true">
                <WRTANSUpload />
            </Alert>
        </Column>
    </Row>
</div>
<Divider />
<div class="container border">
    <QuestionList />
</div>